
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      Issue 7
    </title>
    {{ $style := resources.Get "issue-7/styles/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
  </head>
  <body>
    <h1> this is issue-7/baseof </h2>
    <!-- Code that all your templates share, like a header -->
    {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
    {{ end }}
  </body>
</html>
